body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #000;
    padding: 20px;
    background-color: #fff;
}

.flex{
    display: flex;
}

.label{
    margin-right: 10px;
    font-weight: bolder;
}

img{
    width: 100%;
}